@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100vh;
  background-image: -o-radial-gradient(
    10% 20%,
    circle farthest-corner,
    rgba(38, 51, 97, 1) 0%,
    rgba(65, 143, 222, 1) 79%
  );
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(38, 51, 97, 1) 0%,
    rgba(65, 143, 222, 1) 79%
  );
  overflow: hidden;
}
.container {
  width: 400px;
  height: 555px;
  position: absolute;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 20px;
  color: #fff;
  transition: height 6s ease;
  -webkit-transition: height 6s ease;
  -moz-transition: height 6s ease;
  -ms-transition: height 6s ease;
  -o-transition: height 6s ease;
}
.search-box {
  position: relative;
  width: 100%;
  height: 55px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.map-icon {
  background: #fff;
  width: 30px;
  height: 30px;
  -webkit-mask-image: url('img/map.svg');
  mask-image: url('img/map.svg');
  -webkit-mask-size: 30px 30px;
  mask-size: 30px 30px;
  margin-left: 10px;
}
.search-box__input {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 10px;
  font-size: 22px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 48px 0 42px;
}
.search-box__input::-webkit-input-placeholder {
  color: #fff;
  text-transform: capitalize;
}
.search-box__input::-moz-placeholder {
  color: #fff;
  text-transform: capitalize;
}
.search-box__input:-ms-input-placeholder {
  color: #fff;
  text-transform: capitalize;
}
.search-box__input::-ms-input-placeholder {
  color: #fff;
  text-transform: capitalize;
}
.search-box__input::placeholder {
  color: #fff;
  text-transform: capitalize;
}
.search-box__btn {
  background: #fff;
  width: 35px;
  height: 35px;
  -webkit-mask-image: url('img/find.svg');
  mask-image: url('img/find.svg');
  -webkit-mask-size: 35px 35px;
  mask-size: 35px 35px;
  margin-right: 10px;
  position: absolute;
  right: 0;
  cursor: pointer;
}
.weather-box {
  text-align: center;
  margin: 40px 0;
}
.city-name {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px;
}
.temperature {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
  padding-right: 100px;
}
.temperature span {
  position: absolute;
  font-size: 24px;
  margin-left: 4px;
}
.weather-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
.weather-picture {
  width: 90px;
  padding-right: 10px;
}
.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.text p {
  font-size: 20px;
  padding: 0 2px;
  font-weight: 500;
}
.temp {
  padding: 0 10px;
}
.info p {
  font-size: 20px;
  font-weight: 500;
}
.info span {
  margin-left: 3px;
}
.hidden {
  display: none;
  visibility: hidden;
}
.image-temp-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.not-found {
  padding-top: 20px;
}
.not-found__picture {
  width: 100%;
}
.not-found__description {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.future-weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.future-weather__item {
  padding: 5px;
}

.future-weather__day {
  text-align: center;
}

.future-weather__picture {
  width: 35px;
}
.future-weather__temperature {
  text-align: center;
  padding-left: 5px;
}
